header, footer{
    height: 80px;
    background-color: rgba(44,62,80,255);
}
.green{
    background-color:rgba(26,188,156,255);
}
.square-pic{
    height: 16rem;
}
.square-pic img{
    max-width: 100%;
}
.square-pic-jumbo{
    width: 25rem;
}
.square-pic-jumbo img{
    max-width:100%;
}
section{
    padding-bottom:50px;
}
.divisore{
    height: 3px;
    background-color: white;
    width: 20%;
    max-width: 25%;
    border-radius:100px;
}
.blocco-testo{
    width: 350px;
}
.blue{
    background-color: rgba(58,84,109,255);
}
.bkg_black{
    background-color: black;
}